*.db
*.user
*.opendb
Debug/
Release/
.DS_Store
*xcuserdatad*
*.xccheckout
*.stackdump
.vs
Chapter14/Assets/Saved.gplevel
Chapter14/Assets/*.bin
External/FMOD
Chapter01/Chapter01-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter02/Chapter02-mac.xcodeproj/project.pbxproj
Chapter02/Chapter02-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter03/Chapter03-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter04/Chapter04-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter05/Chapter05-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter06/Chapter06-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter07/Chapter07-mac.xcodeproj/project.pbxproj
Chapter07/Chapter07-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Chapter08/Chapter08-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Exercises/4.2/Chapter04-mac.xcodeproj/project.pbxproj
Exercises/4.2/Chapter04-mac.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Exercises/External/FMOD/README.md
Exercises/External/GLEW/LICENSE.txt
Exercises/External/GLEW/README.txt
Exercises/External/GLEW/include/GL/eglew.h
Exercises/External/GLEW/include/GL/glew.h
Exercises/External/GLEW/include/GL/glxew.h
Exercises/External/GLEW/include/GL/wglew.h
Exercises/External/GLEW/lib/mac/libGLEW.2.1.0.dylib
Exercises/External/GLEW/lib/win/x86/glew32.dll
Exercises/External/GLEW/lib/win/x86/glew32.lib
Exercises/External/rapidjson/LICENSE.txt
Exercises/External/rapidjson/include/rapidjson/allocators.h
Exercises/External/rapidjson/include/rapidjson/cursorstreamwrapper.h
Exercises/External/rapidjson/include/rapidjson/document.h
Exercises/External/rapidjson/include/rapidjson/encodedstream.h
Exercises/External/rapidjson/include/rapidjson/encodings.h
Exercises/External/rapidjson/include/rapidjson/filereadstream.h
Exercises/External/rapidjson/include/rapidjson/filewritestream.h
Exercises/External/rapidjson/include/rapidjson/fwd.h
Exercises/External/rapidjson/include/rapidjson/istreamwrapper.h
Exercises/External/rapidjson/include/rapidjson/memorybuffer.h
Exercises/External/rapidjson/include/rapidjson/memorystream.h
Exercises/External/rapidjson/include/rapidjson/ostreamwrapper.h
Exercises/External/rapidjson/include/rapidjson/pointer.h
Exercises/External/rapidjson/include/rapidjson/prettywriter.h
Exercises/External/rapidjson/include/rapidjson/rapidjson.h
Exercises/External/rapidjson/include/rapidjson/reader.h
Exercises/External/rapidjson/include/rapidjson/schema.h
Exercises/External/rapidjson/include/rapidjson/stream.h
Exercises/External/rapidjson/include/rapidjson/stringbuffer.h
Exercises/External/rapidjson/include/rapidjson/writer.h
Exercises/External/rapidjson/include/rapidjson/error/en.h
Exercises/External/rapidjson/include/rapidjson/error/error.h
Exercises/External/rapidjson/include/rapidjson/internal/biginteger.h
Exercises/External/rapidjson/include/rapidjson/internal/diyfp.h
Exercises/External/rapidjson/include/rapidjson/internal/dtoa.h
Exercises/External/rapidjson/include/rapidjson/internal/ieee754.h
Exercises/External/rapidjson/include/rapidjson/internal/itoa.h
Exercises/External/rapidjson/include/rapidjson/internal/meta.h
Exercises/External/rapidjson/include/rapidjson/internal/pow10.h
Exercises/External/rapidjson/include/rapidjson/internal/regex.h
Exercises/External/rapidjson/include/rapidjson/internal/stack.h
Exercises/External/rapidjson/include/rapidjson/internal/strfunc.h
Exercises/External/rapidjson/include/rapidjson/internal/strtod.h
Exercises/External/rapidjson/include/rapidjson/internal/swap.h
Exercises/External/rapidjson/include/rapidjson/msinttypes/inttypes.h
Exercises/External/rapidjson/include/rapidjson/msinttypes/stdint.h
Exercises/External/SDL/BUGS.txt
Exercises/External/SDL/COPYING.txt
Exercises/External/SDL/README-SDL.txt
Exercises/External/SDL/README.txt
Exercises/External/SDL/WhatsNew.txt
Exercises/External/SDL/include/SDL/begin_code.h
Exercises/External/SDL/include/SDL/close_code.h
Exercises/External/SDL/include/SDL/SDL_assert.h
Exercises/External/SDL/include/SDL/SDL_atomic.h
Exercises/External/SDL/include/SDL/SDL_audio.h
Exercises/External/SDL/include/SDL/SDL_bits.h
Exercises/External/SDL/include/SDL/SDL_blendmode.h
Exercises/External/SDL/include/SDL/SDL_clipboard.h
Exercises/External/SDL/include/SDL/SDL_config.h
Exercises/External/SDL/include/SDL/SDL_cpuinfo.h
Exercises/External/SDL/include/SDL/SDL_endian.h
Exercises/External/SDL/include/SDL/SDL_error.h
Exercises/External/SDL/include/SDL/SDL_events.h
Exercises/External/SDL/include/SDL/SDL_filesystem.h
Exercises/External/SDL/include/SDL/SDL_gamecontroller.h
Exercises/External/SDL/include/SDL/SDL_gesture.h
Exercises/External/SDL/include/SDL/SDL_haptic.h
Exercises/External/SDL/include/SDL/SDL_hints.h
Exercises/External/SDL/include/SDL/SDL_image.h
Exercises/External/SDL/include/SDL/SDL_joystick.h
Exercises/External/SDL/include/SDL/SDL_keyboard.h
Exercises/External/SDL/include/SDL/SDL_keycode.h
Exercises/External/SDL/include/SDL/SDL_loadso.h
Exercises/External/SDL/include/SDL/SDL_log.h
Exercises/External/SDL/include/SDL/SDL_main.h
Exercises/External/SDL/include/SDL/SDL_messagebox.h
Exercises/External/SDL/include/SDL/SDL_mixer.h
Exercises/External/SDL/include/SDL/SDL_mouse.h
Exercises/External/SDL/include/SDL/SDL_mutex.h
Exercises/External/SDL/include/SDL/SDL_name.h
Exercises/External/SDL/include/SDL/SDL_opengl.h
Exercises/External/SDL/include/SDL/SDL_opengles.h
Exercises/External/SDL/include/SDL/SDL_opengles2.h
Exercises/External/SDL/include/SDL/SDL_pixels.h
Exercises/External/SDL/include/SDL/SDL_platform.h
Exercises/External/SDL/include/SDL/SDL_power.h
Exercises/External/SDL/include/SDL/SDL_quit.h
Exercises/External/SDL/include/SDL/SDL_rect.h
Exercises/External/SDL/include/SDL/SDL_render.h
Exercises/External/SDL/include/SDL/SDL_revision.h
Exercises/External/SDL/include/SDL/SDL_rwops.h
Exercises/External/SDL/include/SDL/SDL_scancode.h
Exercises/External/SDL/include/SDL/SDL_shape.h
Exercises/External/SDL/include/SDL/SDL_stdinc.h
Exercises/External/SDL/include/SDL/SDL_surface.h
Exercises/External/SDL/include/SDL/SDL_system.h
Exercises/External/SDL/include/SDL/SDL_syswm.h
Exercises/External/SDL/include/SDL/SDL_test_assert.h
Exercises/External/SDL/include/SDL/SDL_test_common.h
Exercises/External/SDL/include/SDL/SDL_test_compare.h
Exercises/External/SDL/include/SDL/SDL_test_crc32.h
Exercises/External/SDL/include/SDL/SDL_test_font.h
Exercises/External/SDL/include/SDL/SDL_test_fuzzer.h
Exercises/External/SDL/include/SDL/SDL_test_harness.h
Exercises/External/SDL/include/SDL/SDL_test_images.h
Exercises/External/SDL/include/SDL/SDL_test_log.h
Exercises/External/SDL/include/SDL/SDL_test_md5.h
Exercises/External/SDL/include/SDL/SDL_test_random.h
Exercises/External/SDL/include/SDL/SDL_test.h
Exercises/External/SDL/include/SDL/SDL_thread.h
Exercises/External/SDL/include/SDL/SDL_timer.h
Exercises/External/SDL/include/SDL/SDL_touch.h
Exercises/External/SDL/include/SDL/SDL_ttf.h
Exercises/External/SDL/include/SDL/SDL_types.h
Exercises/External/SDL/include/SDL/SDL_version.h
Exercises/External/SDL/include/SDL/SDL_video.h
Exercises/External/SDL/include/SDL/SDL.h
Exercises/External/SDL/lib/mac/libfreetype.6.dylib
Exercises/External/SDL/lib/mac/libpng16.16.dylib
Exercises/External/SDL/lib/mac/libSDL2_image-2.0.0.dylib
Exercises/External/SDL/lib/mac/libSDL2_mixer-2.0.0.dylib
Exercises/External/SDL/lib/mac/libSDL2_ttf-2.0.0.dylib
Exercises/External/SDL/lib/mac/libSDL2-2.0.0.dylib
Exercises/External/SDL/lib/win/x86/libfreetype-6.dll
Exercises/External/SDL/lib/win/x86/libogg-0.dll
Exercises/External/SDL/lib/win/x86/libpng16-16.dll
Exercises/External/SDL/lib/win/x86/libvorbis-0.dll
Exercises/External/SDL/lib/win/x86/libvorbisfile-3.dll
Exercises/External/SDL/lib/win/x86/LICENSE.freetype.txt
Exercises/External/SDL/lib/win/x86/LICENSE.ogg-vorbis.txt
Exercises/External/SDL/lib/win/x86/LICENSE.png.txt
Exercises/External/SDL/lib/win/x86/LICENSE.zlib.txt
Exercises/External/SDL/lib/win/x86/SDL2_image.dll
Exercises/External/SDL/lib/win/x86/SDL2_image.lib
Exercises/External/SDL/lib/win/x86/SDL2_mixer.dll
Exercises/External/SDL/lib/win/x86/SDL2_mixer.lib
Exercises/External/SDL/lib/win/x86/SDL2_ttf.dll
Exercises/External/SDL/lib/win/x86/SDL2_ttf.lib
Exercises/External/SDL/lib/win/x86/SDL2.dll
Exercises/External/SDL/lib/win/x86/SDL2.lib
Exercises/External/SDL/lib/win/x86/SDL2main.lib
Exercises/External/SDL/lib/win/x86/SDL2test.lib
Exercises/External/SDL/lib/win/x86/zlib1.dll
Exercises/External/SOIL/LICENSE.txt
Exercises/External/SOIL/include/SOIL/image_DXT.h
Exercises/External/SOIL/include/SOIL/SOIL.h
Exercises/External/SOIL/include/SOIL/stb_image_aug.h
Exercises/External/SOIL/include/SOIL/stbi_DDS_aug_c.h
Exercises/External/SOIL/include/SOIL/stbi_DDS_aug.h
Exercises/External/SOIL/lib/mac/libSOIL.a
Exercises/External/SOIL/lib/win/x86/SOIL.lib
